body {
  background-color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.number-button,
.operator-button {
  font-size: 21px;
  height: 65px;
  width: 65px;
  border-radius: 50%;
  border: none;
  background-color: rgb(0, 66, 37);
  color: rgb(192, 192, 192);
}
.operator-button {
  background-color: rgb(192, 192, 192);
  color: black;
}
.title {
  color: rgb(192, 192, 192);
  font-size: 35px;
  font-weight: bold;
}
.calculations {
  color: rgb(192, 192, 192);
  font-size: 30px;
  font-weight: lighter;
}